<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Personal blog">
    <meta name="author" content="Denis Kazakov">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>

        {% block title %}

        {% endblock %} | kazakov.ru.net

    </title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/c562fba2ac.js"></script>
</head>
<body class="d-flex flex-column h-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" id="kazakov-navbar">
        <a class="navbar-brand" href="{{url_for('index')}}">kazakov.ru.net</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" >
                    <a class="nav-link" href="{{ url_for('posts.index') }}">Все записи<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('posts.tag_detail', slug='projects') }}">Мои проекты<span class="sr-only">(current)</span></a>
                </li>
                <!-- current_user - объект шаблонов фласка, has_role - наследуемый метод от класса UserMixin -->
                {% if current_user.has_role('admin') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('posts.create_post') }}">Новый пост</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.index') }}">Админка</a>
                    </li>
                {% endif %}
            </ul>
            <div class="row m-1">
                <div class="mf-2 mr-2"><a href="#" class="text-light"><i class="fab fa-telegram fa-2x"></i></a></div>
                <div class="mf-2 mr-2"><a href="https://github.com/KazakovDenis" class="text-light"><i class="fab fa-github fa-2x"></i></a></div>
                {% if current_user.is_authenticated %}
                    <div class="mf-2 mr-2"><a href="{{ url_for('security.logout') }}" class="text-light"><i class="fas fa-sign-out-alt fa-2x"></i></a></div>
                {% else %}
                    <div class="mf-2 mr-2"><a href="{{ url_for('security.login') }}" class="text-light"><i class="fas fa-sign-in-alt fa-2x"></i></a></div>
                {% endif %}
            </div>
        </div>
    </nav>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <span id="span"><h1>
                        {% block content_title %}

                        {% endblock %}
                </h1></span>
                    {% block content %}

                    {% endblock %}
            </div>

            <!--- Right panel d-xs-none d-sm-none  -->
            <div class="mt-3 col-lg-3 col-xl-3 d-md-block d-lg-block">
                <!-- Дополняем форму методом, Инпут значениями name и value. 'q' - переменная от query, request - Объект фласка -->
                <form class="my-2 my-lg-0" method="GET" action="{{ url_for('posts.index')}}">
                    <div class="form-row">
                        <div class="col-9">
                            <input class="form-control mr-sm-2" type="search" placeholder="Поиск по блогу"
                                   aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="mt-5">
                    {% block rightpanel %}

                    {% endblock %}
                    <div class="row fixed-bottom mb-5 mr-5 justify-content-end"><div><a href="#kazakov-navbar" class="text-dark">
                    <i class="fas fa-chevron-circle-up fa-3x"></i></a></div></div>
                </div>
            </div>
        </div>
        
    </div>

    <footer class="footer mt-auto py-3 bg-secondary">
        <div class="container">
            <div class="row justify-content-between">
                <span class="align-baseline">
                    <a href="{{ url_for('posts.index') }}" class="text-light">kazakov.ru.net | Все записи</a>
                </span>
                <span class="text-light">
                    Contact me: <a href="mailto:admin@kazakov.ru.net" class="text-light">admin@kazakov.ru.net</a>
                </span>
            </div>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>