{% extends 'base.html' %}

{% block title %}
    Написать новую статью
{% endblock %}

{% block content %}
    <div class="">
        <form action="
            {% if post %}
                {{ url_for('posts.create_post', slug=post.slug)}}
            {% else %}
                {{ url_for('posts.create_post')}}
            {% endif %}
        " method="POST" enctype="multipart/form-data" class="mb-3">

            <div class="form-group">
                {{ form.title.label(class='control-label') }}
                {{ form.title(class='form-control') }}
            </div>
            <div id="editor"></div>
            <div class="form-group">
                {{ form.body.label(class='control-label') }}
                {{ form.body(rows='15', class='form-control') }}
            </div>

            <button type="submit" class="btn btn-info">Опубликовать</button>
        </form>
        <form method="POST" enctype="multipart/form-data" id="uploadForm">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02" name="file">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"></label>
              </div>
              <div class="input-group-append">
                <button type="submit" class="input-group-text" id="inputGroupFileAddon02" name="file">Загрузить</button>
              </div>
            </div>
        </form>
        <div id="uploadedFiles"></div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}
