{% extends 'base.html' %}

{% block title %}
    Редактировать запись
{% endblock %}

{% block content_title %}
    Редактировать запись
{% endblock %}

{% block content %}
    <div class="col">
        <form action="{{ url_for('posts.edit_post', slug=post.slug)}}" method="POST">
            {% for field in form %}
            <div class="form-group">
                {{ field.label(class='control-label') }}
                {{ field(rows='10', class='form-control') }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Опубликовать</button>
        </form>
    </div>
{% endblock %}