{% extends 'base.html' %}

{% block title %}
    Записи с тегом {{ tag.name }}
{% endblock %}

{% block content %}

    <h3>Записи с тегом "{{ tag.name }}":</h3>
    {% if posts %}
        <div class="post">
            {% for post in posts %}
            <div class="row justify-content-start no-gutters mt-3 mb-3" style="font-size: 20px">
		        <small>
        		    <div class="col-2 text-muted">{{ post.created.strftime('%d.%m.%Y') }}</div>
        		    <div class="col"><a href="{{ url_for('posts.post_detail', slug=post.slug) }}">{{ post.title }}</a></div>
		        </small>
    		</div>
            {% endfor %}

        </div>
        <br>
        <div class="main-content">

        </div>
    {% else %}
    Записей не найдено
    {% endif %}

{% endblock %}
