{% extends 'base.html' %}

{% block title %}
    Записи с тегом {{ tag.name }}
{% endblock %}

{% block content %}

    <h3>Записи с тегом "{{ tag.name }}":</h3>
    {% if posts %}
        <div class="post">
            {% for post in posts %}
               <p><a href="{{ url_for('posts.post_detail', slug=post.slug) }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>
        <br>
        <div class="main-content">

        </div>
    {% else %}
    Записей не найдено
    {% endif %}
{% endblock %}

{% block rightpanel %}

    <p class="text-center font-weight-bolder">Все темы:</p>
    {% for tag in tags %}
        <a href="/blog/tag/{{ tag.slug }}" class="text-decoration-none">
            <text class="badge badge-info">
                {{ tag }}
            </text>
        </a>

    {% endfor %}

{% endblock %}