{% extends 'base.html' %}

{% block title %}
    {{ post.title }} | kazakov.ru.net
{% endblock %}

{% block content %}
<div>
    <div class="d-sm-none mb-3">
        <div class="d-flex align-items-center justify-content-center">
            {% include 'search.html' %}
        </div>
        <div class="d-flex align-items-center justify-content-center">
            {% if current_user.has_role('admin') %}
            <div class="">
                <a href="{{ url_for('posts.create_post', slug=post.slug) }}" class="text-decoration-none">
                    <span class="btn btn-info">Редактировать</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div class="main-content text-justify">
            <h2>{{ post.title }}</h2>
            {% if tags %}
                <div class="tags mb-3">
                    {% for tag in tags %}
                        <a href="{{ url_for('posts.tag_detail', slug=tag.slug) }}" class="text-decoration-none">
                            <span class="badge badge-info">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            <small class="text-muted">{{ post.created.strftime('%d.%m.%Y %H:%M') }}</small>
            <div class="text-justify mb-0 mt-2">
                {{ post.body | safe }}
            </div>
        </div>
        <div class="d-none d-sm-block ml-5" style="max-width: 35%;">
            <div class="mb-5">
                {% include 'search.html' %}
            </div>
            <div class="">
                <div>
                    {% if current_user.has_role('admin') %}
                    <div class="d-flex justify-content-center mb-3">
                        <a href="{{ url_for('posts.create_post', slug=post.slug) }}" class="text-decoration-none">
                            <span class="btn btn-info">Редактировать</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
                {% include 'posts/recommended.html' %}
                {% include 'posts/all_tags.html' %}
            </div>
        </div>
    </div>
    <div class="d-sm-none mb-3">
        {% include 'posts/recommended.html' %}
        {% include 'posts/all_tags.html' %}
    </div>
    <!-- Disqus -->
    <div class="">
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
            this.page.url = 'http://kazakov.ru.net/blog/{{ post.slug }}';
            this.page.identifier = {{ post.slug }};
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://kazakov-ru-net.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>
            Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
    </div>
</div>
{% endblock %}
