{% extends 'base.html' %}

{% block title %}
    Написать новую статью
{% endblock %}

{% block content_title %}
    Написать новую статью
{% endblock %}

{% block content %}
    <div class="col h-100">
        {% if post %}
        <form action="{{ url_for('posts.create_post', slug=post.slug)}}" method="POST" enctype="multipart/form-data" class="mb-3">
        {% else %}
        <form action="{{ url_for('posts.create_post')}}" method="POST" enctype="multipart/form-data" class="mb-3">
        {% endif %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label(class='control-label') }}
                {{ field(rows='10', class='form-control') }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Опубликовать</button>
        </form>

        <form method="POST" enctype="multipart/form-data" id="uploadForm">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02" name="file">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"></label>
              </div>
              <div class="input-group-append">
                <button type="submit" class="input-group-text" id="inputGroupFileAddon02" name="file">Загрузить</button>
              </div>
            </div>
        </form>
        <div id="uploadedFiles"></div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('posts.static', filename='upload.js') }}"></script>
{% endblock %}
