{% if all_tags %}
<div style="max-width: 400px;">
    <p class="text-center font-weight-bolder">Все темы:</p>
    {% for tag in all_tags %}
        <a href="/blog/tag/{{ tag.slug }}" class="text-decoration-none">
            <text class="badge badge-info">
                {{ tag }}
            </text>
        </a>
    {% endfor %}
</div>
{% endif %}
<!--<p class="text-center font-weight-bolder mt-3">Последние комментарии:</p>-->
<!--<script type="text/javascript" src="{{ DISQUS_URL }}/recent_comments_widget.js?num_items=10&hide_avatars=0&avatar_size=40&excerpt_length=200"></script>-->
