<!DOCTYPE html>
<html lang="en">
<head>
    <title>Denis Kazakov | Backend developer</title>
    <meta charset="UTF-8">
    <meta name="description" content="Backend developer CV">
    <meta name="author" content="Denis Kazakov">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/cover/">
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="https://getbootstrap.com/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}">-->
    <link href="../static/css/cv.css" rel="stylesheet">

</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
        <h3 class="masthead-brand my-2">Backend & testing</h3>
        <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">CV</a>
        <a class="nav-link" href="#">Notes</a>
        <a class="nav-link" href="#">Projects</a>
        <a class="nav-link" href="#">Contacts</a>
      </nav>
    </div>
    </header>
    <main role="main" class="inner cover mt-5">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="text-wrap text-justify px-5" style="max-width: 40em;">
                <h1 class="cover-heading">Denis Kazakov</h1>
                <p class="lead">Hello, let's get acquainted!</p>
                <p class="lead">I'm a programmer living in Russia, Novosibirsk. This page is intended to make you find me out. Technologies I have deal with are listed below.</p>
                <p class="lead mt-2">
                  <a href="https://profile-summary-for-github.com/user/kazakovdenis" class="btn btn-md btn-secondary" target="_blank">Github overview</a>
                </p>
            </div>
            <div class="d-flex px-5" id="myphoto"></div>
        </div>
        <h3 class="cover-heading text-center mt-5 w-100">Skills</h3>
        <div class="container-fluid">
            <div class="d-flex flex-wrap justify-content-around">
                <div class="d-flex my-2">
                    <ul class="list-group bg-transparent tech">
                      <li class="list-group-item d-flex justify-content-center bg-transparent">
                        <b>Languages</b>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Python 3
                        <div class="row mx-1">
                            <div class="point"></div>
                            <div class="point"></div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        C
                        <div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        HTML
                        <div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        CSS
                        <div>
                            <div class="point"></div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Javascript
                        <div>
                            <div class="point"></div>
                        </div>
                      </li>
                    </ul>
                </div>
                <div class="d-flex my-2">
                    <ul class="list-group bg-transparent tech">
                        <li class="list-group-item d-flex justify-content-center bg-transparent ">
                        <b>Frameworks & libs</b>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Flask
                        <div class="row mx-1">
                            <div class="point"></div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Bootstrap
                        <div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Selenium
                        <div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                            Django
                            <div>
                                <div class="point"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex my-2">
                    <ul class="list-group bg-transparent tech">
                      <li class="list-group-item d-flex justify-content-center bg-transparent">
                        <b>Devops</b>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Jenkins
                        <div class="row mx-1">
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Docker
                        <div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Travis CI
                        <div>
                            <div class="point"></div>
                        </div>
                      </li>
                    </ul>
                </div>
                <div class="d-flex my-2">
                    <ul class="list-group bg-transparent tech">
                        <li class="list-group-item d-flex justify-content-center bg-transparent">
                        <b>Other</b>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Git
                        <div>
                            <div class="point"></div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                            Linux
                            <div>
                                <div class="point"></div>
                                <div class="point"></div>
                                <div class="point"></div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                        Nginx
                        <div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                            Postgresql
                            <div>
                                <div class="point"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h5 class="cover-heading text-center mt-3">
            <a class="text-muted" data-toggle="collapse" href="#ratingDeck" role="button" aria-expanded="false" aria-controls="ratingDeck">How do I rate myself</a>
        </h5>
        <div class="card-deck collapse" id="ratingDeck">
          <div class="card bg-transparent rate lead text-muted text-center mb-2 border-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-1 border-0 bg-transparent">Master Jedi</li>
              <li class="list-group-item p-1 border-0 bg-transparent">
                  <div class="row justify-content-center">
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                  </div>
              </li>
            </ul>
          </div>
          <div class="card bg-transparent rate lead text-muted text-center mb-2 border-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-1 border-0 bg-transparent">Feel confident</li>
              <li class="list-group-item p-1 border-0 bg-transparent">
                  <div class="row justify-content-center">
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                  </div>
              </li>
            </ul>
          </div>
          <div class="card bg-transparent rate lead text-muted text-center mb-2 border-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-1 border-0 bg-transparent">Use daily</li>
              <li class="list-group-item p-1 border-0 bg-transparent">
                  <div class="row justify-content-center">
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                  </div>
              </li>
            </ul>
          </div>
          <div class="card bg-transparent rate lead text-muted text-center mb-2 border-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-1 border-0 bg-transparent">Used a little</li>
              <li class="list-group-item p-1 border-0 bg-transparent">
                  <div class="row justify-content-center">
                    <div class="point"></div>
                    <div class="point"></div>
                  </div>
              </li>
            </ul>
          </div>
          <div class="card bg-transparent rate lead text-muted text-center mb-2 border-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-1 border-0 bg-transparent">Got acquainted</li>
              <li class="list-group-item p-1 border-0 bg-transparent">
                  <div class="row justify-content-center">
                    <div class="point"></div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="container-fluid">
            <h3 class="cover-heading text-center mt-5 w-100">Certificates & tests</h3>
            <div class="d-sm-inline-flex d-inline-block justify-content-center">
                <div class="m-2">
                    <img class="img-fluid rounded d-block" src="https://www.sololearn.com/Certificate/1060-14685036/jpg/" alt="SQL">
                </div>
                <div class="m-2">
                    <img class="img-fluid rounded d-block" src="https://www.sololearn.com/Certificate/1073-14685036/jpg/" alt="Python">
                </div>
                
            </div>
        </div>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Powered by Flask</p>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
