{% extends 'base.html' %}

{% block title %}

    Конспект начинающего программиста

{% endblock %}

{% block content %}

<div class="row mt-5">
    <div class="col-9">
    {% for post in posts %}
        <div class="">
            <p class="h3 mb-0">
                <a href="{{ url_for('posts.post_detail', slug=post.slug) }}">{{ post.title }}</a>
            </p>
            <small class="text-muted">{{ post.created.strftime('%d.%m.%Y %H:%M') }}</small>

            <p class="text-justify mb-0 mt-2">{{ post.body | safe }}</p>

            {% for tag in post.tags %}
                <a href="/blog/tag/{{ tag.slug }}">
                    <span class="badge badge-info text-decoration-none">
                        {{ tag }}
                    </span></a>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
    </div>
    <div class="col-3">
        <div class="row my-5">
            <div class="col">
                {% include 'search.html' %}
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                {% include 'right_panel.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}